html {
    font-size: 14px;
    font-family: Verdana, Tahoma, Arial, Helvetica, SimSun, "宋体", sans-serif;
    width: 100vw;
    overflow-x: hidden;
}

body {
    margin: 0;
    cursor: auto;
    background: #eeeeee;
}

a {
    cursor: pointer;
    color: #004080;
    text-decoration: none;
}

a:visited {
    color: #800080;
    text-decoration: none;
}

a:hover {
    color: #ff0000;
    text-decoration: underline;
}

#header {
    position: relative;
    margin: 0 0 12px 0;
    padding: 10px 0 12px 0;
    background: #005ebb;
    background: -webkit-linear-gradient(top, #0078f0 0%, #005ebb 100%);
    background: linear-gradient(top, #0078f0 0%, #005ebb 100%);
}

#header-title {
    color: white;
    margin-bottom: -4px;
    font-size: 48px;
    text-decoration: none;
    text-shadow: 0 1px #003d60;
}

#header-sub-title {
    color: white;
    margin-left: 8px;
    text-decoration: none;
    text-shadow: 0 1px #003d60;
}

#header-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
    width: 100%;
}

#header-title-box {
    display: flex;
    flex-direction: row;
    align-items: end;
    font-family: Arial;
}

.container {
    position: relative;
    margin: 0 auto;
    text-align: left;
    max-width: 1024px;
    overflow: hidden;
    padding: 0 1.5em;
    display: flex;
    flex-direction: row;
}

#content {
    width: 74%;
    margin-right: 2%;
    display: flex;
    flex-direction: column;
}

#sidebar {
    width: 24%;
    display: flex;
    flex-direction: column;
}

.entry,
.sidebar-item,
#disqus_thread {
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 5px;
    box-shadow: 0 5px 5px -5px rgb(0 0 0 / 20%);
    margin-bottom: 1.5em;
    padding: 1em;
    overflow-x: hidden;
}

.entry-title,
.entry-title a,
.entry-title a:visited {
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    color: #003264;
}

.entry-title a:hover {
    text-decoration: none;
    color: #cc0000;
}

.entry-title-underline {
    margin: 1px 0px 2px 0px;
    border-top: 1px dashed #097097;
    height: 1px;
    overflow: hidden;
}

.entry-info {
    font-size: 12px;
    color: #666666;
}

.entry-contents {
    margin-top: 1em;
    word-wrap: break-word;
    line-height: 1.5em;
}

.entry-contents img {
    max-width: 100%;
    display: block;
    margin: 0 auto;
    width: auto;
    height: auto;
}

#pagination {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
}

#footer {
    position: relative;
    clear: both;
    margin-top: 1em;
    padding: 12px 0 10px 0;
    height: 50px;
    text-align: center;
    color: #efefef;
    text-shadow: 0 -1px 0 #666666;
    background-color: #7D7E82;
    box-shadow: 0 5px 5px rgb(0 0 0 / 10%) inset;
}

#footer a {
    color: #efefef;
    text-decoration: none;
    text-shadow: 0 -1px 0 #666666;
}

.sidebar-title {
    font-size: 14px;
    color: #161616;
    border-bottom: 1px dashed #eeeeee;
    font-weight: bold;
    margin-bottom: 0.5em;
}

.sidebar-list {
    display: flex;
    flex-direction: column;
}

#header-menu a {
    color: #ffffff;
}

#header-menu a:visited {
    color: #ffffff;
    text-decoration: none;
}

#header-menu a:hover {
    color: #ffffff;
    text-decoration: underline;
}

#header-menu {
    position: relative;
    width: auto;
    right: 2px;
    bottom: 0px;
    font-family: Arial;
    color: #ffffff;
}

.single.entry-title {
    text-align: center;
    font-size: 22px;
    margin-bottom: 5px;
}

.single.entry-info {
    text-align: center;
    font-size: 12px;
}

img.loading {
    display: block;
    margin: 0 auto;
    width: 200px;
    height: 124px;
    border: 2px;
    border-radius: 8px;
    border-style: dashed;
    border-color: #dddddd;
}

img.loaded {
    display: block;
    margin: 0 auto;
    width: auto;
    height: auto;
}

blockquote {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 0;
    margin-right: 0;
    padding-left: 16px;
    padding-top: 8px;
    padding-right: 8px;
    padding-bottom: 8px;
    border-left: 8px solid #ccc;
    background-color: #eee
}

code:not(.highlight code) {
    margin: 0 .5em;
    padding: .1em .5em .1em;
    font-size: 85%;
    background: rgba(150, 150, 150, .1);
    border: 1px solid rgba(100, 100, 100, .2);
    border-radius: 2px;
}

pre {
    overflow-x: auto;
}

.single.entry-title {
    font-family: Arial;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Arial;
}

.YT-FOW {
    background-color: black;
    color: black;
    text-shadow: none;
}

.YT-FOW:hover,
.YT-FOW:active {
    transition: color .2s linear;
    color: white
}

.YT-FOW a {
    cursor: pointer;
    color: black;
    text-decoration: none;
}

.YT-FOW a:visited {
    color: black;
    text-decoration: none;
}

.YT-FOW a:hover {
    color: white;
    text-decoration: underline;
    transition: color .2s linear;
}

@media screen and (max-width: 640px) {
    #sidebar {
        display: none;
    }

    #content {
        width: 100%;
    }

    #header-title {
        font-size: 36px;
    }

    #header-title-box {
        flex-direction: column;
        align-items: flex-start;
    }

    #header-sub-title {
        margin-left: 0;
        margin-top: 8px;
    }

    #header-content {
        flex-direction: column;
        align-items: flex-start;
    }

    #header-menu {
        margin-top: 8px;
        right: 0;
    }
}

.YT-Alert {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 0;
    margin-right: 0;
    padding-left: 16px;
    padding-top: 8px;
    padding-right: 8px;
    padding-bottom: 8px;
    background-color: #eee
}

.YT-Alert-success {
    background-color: #4fd69c
}

.YT-Alert-success:before {
    content: "💚";
    margin-right: 8px;
}

.YT-Alert-warning:before {
    content: "🧡";
    margin-right: 8px;
}

.YT-Alert-warning {
    background-color: #FC7C5F
}

.YT-Alert-error:before {
    content: "❤";
    margin-right: 8px;
}

.YT-Alert-error {
    background-color: #F75676
}