{{ range $index, $_ := .Site.Menus.main}}
{{ $.Scratch.Set "__menus.last" $index }}
{{end}}

<header id="header">
    <div class="container">
        <div id="header-content">
            {{ if ( ne .Site.Title "" ) }}
            <div id="header-title-box">
                <a href="{{ .Site.BaseURL | relLangURL }}" id="header-title">
                    {{ .Site.Title }}
                </a>
                {{ if ( ne .Site.Params.subTitle "" ) }}
                <div id="header-sub-title">{{ .Site.Params.subTitle }}</div>
                {{ end }}
            </div>
            {{ end }}
            <div id="header-menu">
                {{ if gt .Site.Menus.main 0}}
                {{ range $index, $menu := .Site.Menus.main }}
                <a href="{{$menu.URL}}">{{ $menu.Name }}</a>
                {{ $last := $.Scratch.Get "__menus.last" }}
                {{if not (eq $index $last)}}
                <span> / </span>
                {{ end }}
                {{ end }}
                {{ end }}
            </div>
        </div>
    </div>
</header>