{{ define "content" }}
<div class="entry">
    <div class="single entry-title">{{ .Title }}</div>
    <div class="single entry-info">{{ .Date.Format "2006-01-02 15:04:05"}}
        {{ range $index, $_ := .Params.tags}}
        {{ $.Scratch.Set "__tags.last" $index }}
        {{end}}
        {{ range $index, $tag := .Params.tags}}
        {{if eq $index 0}}
        · 标签:
        {{end}}
        <a href='{{ "tags" | absURL }}/{{ . | urlize }}'>{{$tag}}</a>
        {{$last := $.Scratch.Get "__tags.last"}}
        {{if not (eq $index $last)}}
        ,
        {{end}}
        {{end}}
    </div>
    <div class="entry-contents">
        {{.Content}}
    </div>
</div>
{{ if and (eq .Type "post") .IsPage }}
{{- partial "disqus.html" . -}}
{{end}}
{{ end }}